
<% @shares.each do |share| %>
  <p>やるべきこと:<%= share.action %></p>
  <p>達成したかどうか?:<%= share.achivement %></p>
  <%= link_to "詳細", share_path(share.id) %>
  <%= link_to "編集", edit_share_path(share.id) %>
<% end %>
